
<div  class="px-4 sm:px-8 md:px-20 lg:px-69 relative my-8">
  <div class="flex justify-center gap-2 relative *:shadow-xl">
    <div class="min-w-32 bg-indigo-300 -mx-10 z-20 p-2 rounded-sm font-semibold">20250115_profile_header</div>
    <div class="w-20 bg-indigo-300 transform skew-x-12 rounded-sm "> </div>
    <div class="w-20 bg-indigo-300 transform skew-x-12 rounded-sm "> </div>
    <div class="w-12 bg-indigo-300 transform skew-x-12 rounded-sm "> </div>
    <div class="w-6 bg-indigo-300 transform skew-x-12 rounded-sm"> </div>
    <div class="w-4 bg-indigo-300 transform skew-x-12 rounded-sm"> </div>
    <div class="w-3 bg-indigo-300 transform skew-x-12 rounded-sm"> </div>
    <div class="w-2 bg-indigo-300 transform skew-x-12 rounded-sm"> </div>
    <div class="w-1 bg-indigo-300 transform skew-x-12 rounded-sm"> </div>
    <div class="h-6 w-full bg-gradient-to-r from-sky-700 to-sky-800 absolute bottom-0 -z-10 rounded-tl-full rounded-tr-full rounded-bl-xl rounded-br-xl"></div>  
  </div>

  <div class="w-full bg-gradient-to-r from-indigo-200 to-blue-200 relative p-4 my-4 shadow-xl rounded h-32 bg-red-100">
    <p class="prose mx-auto"></p>
    <p class="prose mx-auto">Unfinished, mainly Emmet testing</p>  
  </div>

  <div class="h-6 w-full bg-gradient-to-r from-sky-700 to-sky-800 rounded-bl-full rounded-br-full rounded-tl-xl rounded-tr-xl shadow-xl"></div>  
</div>
<hr>

<div class="flex justify-between">
  <div class="flex-col">
    <div class="size-24 rounded-full overflow-hidden"><img src="https://images.pexels.com/photos/2811089/pexels-photo-2811089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></div>
    <div class="text-lg font-bold">MetaMask</div>
    <div class="font-bold">@metamask</div>
    <div class="tracking-tighter">MetaMask brings Ethereum to your web browser</div>
    <div class="flex justify-left">
      <div class="size-12 rounded-2xl border">hg</div>
      <div class="size-12 rounded-2xl border">Li</div>
      <div class="size-12 rounded-2xl border">Gl</div>
      <div class="size-12 rounded-2xl border">??</div>
    </div>
  </div>

  <div class="flex flex-col justify-between bg-red-100">
    <div class="flex flex-col">
      <%# --- %>
      <div class="flex">
        <div>6/8 Organizations</div>
        <div class="rounded-full size-6 border-2 border-blue-700 flex justify-center items-center">i</div>
      </div>

      <%# --- %>
      <div class="rounded-full bg-stone-500 w-full h-4"> <div class="rounded-full bg-orange-500 w-10/12 h-4"></div> 
      </div>
    </div>

    <%# --- %>
    <div>
      <div> 4K Followers </div>
      <div class="rounded-md bg-blue-600 text-white text-center"> Follow </div>
    </div>
  </div>
</div>
