<div class="w-full min-h-dvh flex justify-center items-center bg-gradient-to-tr from-indigo-200 to-orange-200 py-8">

  <div class="*:h-75 *:flex *:flex-col *:justify-between bg-stone-50 max-w-3xl *:bg-gradient-to-tr *:from-purple-50 *:to-orange-50 p-3 flex flex-col md:flex-row rounded-3xl *:rounded-3xl *:p-8 gap-4 *:space-y-4">
    <div class="">
      <div class="text-2xl font-bold">Free</div>
      <div class="text-4xl"><span class="text-2xl font-bold">$</span>0</div>
      <div class="text-xs">Free for your whole team</div>
      <div class="text-sm font-semibold">For individuals or teams looking to organize anything.</div>
      <button class="rounded-xl bg-red-300 py-4 px-2 font-bold shadow-md">Get Started</button>
    </div>
    
    <div class="">
      <div class="text-2xl font-bold">Standard</div>
      <div class="text-4xl"><span class="text-2xl font-bold">$</span>6</div>
      <div class="text-xs">Per user per month</div>
      <div class="text-sm font-semibold">For teams that need to manage more work</div>
      <button class="rounded-xl bg-cyan-300 py-4 px-2 object-bottom font-bold shadow-md">Upgrade Now</button>
    </div>
    
    <div class="">
      <div class="text-2xl font-bold">Premium</div>
      <div class="text-4xl"><span class="text-2xl font-bold">$</span>12</div>
      <div class="text-xs">Per user per month</div>
      <div class="text-sm font-semibold">Best for teams that need to track multiple projects</div>
      <button class="rounded-xl bg-yellow-200 py-4 px-2 font-bold shadow-md">Try for free</button>
    </div>
  </div>

</div>

