<%# Start header %>
<div  class="absolute top-0 px-4 sm:px-8 md:px-20 lg:px-69 relative my-8">
  <div class="flex justify-center gap-2 relative *:shadow-xl">
    <div class="min-w-32 bg-indigo-300 -mx-10 z-20 p-2 rounded-sm font-semibold">20250110-social_profile</div>
    <div class="w-20 bg-indigo-300 transform skew-x-12 rounded-sm "> </div>
    <div class="w-20 bg-indigo-300 transform skew-x-12 rounded-sm "> </div>
    <div class="w-12 bg-indigo-300 transform skew-x-12 rounded-sm "> </div>
    <div class="w-6 bg-indigo-300 transform skew-x-12 rounded-sm"> </div>
    <div class="w-4 bg-indigo-300 transform skew-x-12 rounded-sm"> </div>
    <div class="w-3 bg-indigo-300 transform skew-x-12 rounded-sm"> </div>
    <div class="w-2 bg-indigo-300 transform skew-x-12 rounded-sm"> </div>
    <div class="w-1 bg-indigo-300 transform skew-x-12 rounded-sm"> </div>
    <div class="h-6 w-full bg-gradient-to-r from-sky-700 to-sky-800 absolute bottom-0 -z-10 rounded-tl-full rounded-tr-full rounded-bl-xl rounded-br-xl"></div>  
  </div>

  <div class="w-full bg-gradient-to-b from-violet-300 to-fuchsia-300 relative p-3 my-3 shadow-xl rounded h-32">
    <p class="prose mx-auto">Uitdaging: Mobile first. de rest lijkt me niet heel moeilijk.</p>  
  </div>

  <div class="h-6 w-full bg-gradient-to-r from-sky-700 to-sky-800 rounded-bl-full rounded-br-full rounded-tl-xl rounded-tr-xl shadow-xl"></div>  
</div>
<%# End header %>

<div class="relative w-full h-dvh flex items-center justify-center flex-col bg-gradient-to-b from-violet-100 to-fuchsia-100 p-12 ">

  <div class="flex flex-row bg-white md:flex-col shadow-lg py-4 px-16 md:px-4 rounded md:max-w-sm lg:max-w-md text-sm text-stone-600">

    <div class="flex flex-col items-center md:flex-row md:justify-between md:px-6 md:items-start">
      <div>
        <div class="size-20 rounded-full overflow-hidden m-4 shadow-md"><img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg" alt="" class="w-20"></div>
        <div class="text-center">
          <div class="font-bold text-lg">Sally Ramos</div>
          <div>@sallytheramos</div>
        </div>
      </div>
      <div class="rounded-full border-2 text-sm mx-4 my-4 py-2 px-4 md:my-10 shadow-md">Following</div>  
    </div>

    <p class="hidden p-4 md:block">Product Designer at @company. Working on @othercompany in my free time.</p>
    <p class="hidden p-4 lg:block"><b>15K</b> Followers &middot; <b>7k</b> Following &middot; Since April 30, 2017  </p>
  </div>

</div>
